<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.casaba.dao.mapper.HqInfoMapper" >
  <resultMap id="BaseResultMap" type="com.casaba.dao.entity.HqInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="hq_name" property="hqName" jdbcType="VARCHAR" />
    <result column="pwd" property="pwd" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" javaType="java.util.Date" />
    <result column="update_time" property="updateTime" javaType="java.util.Date" />
    <result column="founder" property="founder" jdbcType="INTEGER" />
    <result column="last_login_time" property="lastLoginTime" javaType="java.util.Date" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, hq_name, pwd, mobile, create_time, update_time, founder, last_login_time
  </sql>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_hq_info
    where id = #{id}
  </select>

  <select id="queryHqByMobile" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_hq_info
    where mobile = #{mobile}
  </select>
  <select id="queryHqInfo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_hq_info
    where mobile = #{mobile} and pwd=#{passwd}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from tb_hq_info
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.casaba.dao.entity.HqInfo" >
    insert into tb_hq_info (id, hq_name, pwd, 
      mobile,
      founder)
    values (#{id,jdbcType=INTEGER}, #{hqName,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR},
      #{founder,jdbcType=INTEGER})
  </insert>

  <update id="modifyHqPasswd" >
    update tb_hq_info
    set pwd=#{pwd},update_time = now()
    where mobile=#{mobile} and pwd=#{passwd}
  </update>
  <update id="modifyLastLoginTime" >
    update tb_hq_info
    set  last_login_time=#{loginTime},update_time = now()
    where mobile=#{mobile} and pwd=#{passwd}
  </update>
  <update id="findHqPasswd">
    update tb_hq_info set pwd=#{passwd},update_time = now()
    where mobile = #{mobile}
  </update>
 <update id="updateById" parameterType="com.casaba.dao.entity.HqInfo" >
    update tb_hq_info
    set
      pwd = #{pwd,jdbcType=VARCHAR},
      update_time = now()

    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>