<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.casaba.dao.mapper.SalerInfoMapper" >
  <resultMap id="BaseResultMap" type="com.casaba.dao.entity.SalerInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="saler_name" property="salerName" jdbcType="VARCHAR" />
    <result column="passwd" property="passwd" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, saler_name, passwd, mobile
  </sql>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_saler_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from tb_saler_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.casaba.dao.entity.SalerInfo" >
    insert into tb_saler_info (id, saler_name, passwd, 
      mobile)
    values (#{id,jdbcType=INTEGER}, #{salerName,jdbcType=VARCHAR}, #{passwd,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR})
  </insert>
  <update id="updateById" parameterType="com.casaba.dao.entity.SalerInfo" >
    update tb_saler_info
    set saler_name = #{salerName,jdbcType=VARCHAR},
      passwd = #{passwd,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>