<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.casaba.dao.mapper.auth.AccountRoleInfoMapper" >
  <resultMap id="BaseResultMap" type="com.casaba.dao.entity.auth.AccountRoleInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="account_id" property="accountId" jdbcType="INTEGER" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, account_id, role_id, status
  </sql>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_account_role_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from tb_account_role_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.casaba.dao.entity.auth.AccountRoleInfo" >
    insert into tb_account_role_info (id, account_id, role_id, 
      status)
    values (#{id,jdbcType=INTEGER}, #{accountId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, 
      #{status,jdbcType=VARCHAR})
  </insert>
  <update id="updateById" parameterType="com.casaba.dao.entity.auth.AccountRoleInfo" >
    update tb_account_role_info
    set account_id = #{accountId,jdbcType=INTEGER},
      role_id = #{roleId,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>